.DS_Store
profiles.d/work
emacs/auto-save-list
emacs/elpa
emacs/ido.last
emacs/recentf
.idea
dlv
configstore
neofetch
htop
karabiner/automatic_backups
rclone
**/sublime-text-3/**
!**/sublime-text-3/Packages/User/Preferences.sublime-settings
**/Code\ -\ OSS/**
!**/Code\ -\ OSS/User/settings.json
