set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
set norelativenumber
set clipboard+=unnamed
set history=100000
set NERDTree
set easymotion

" leader
let mapleader = " "



" ------------------------------------------------------------
" Buffer / Windows
" ------------------------------------------------------------
nnoremap <leader>wv :action SplitVertically<CR>
nnoremap <leader>ws :action SplitHorizontally<CR>

nnoremap <leader>wj <C-W>j
nnoremap <leader>wh <C-W>h
nnoremap <leader>wl <C-W>l
nnoremap <leader>wk <C-W>k

nnoremap <leader>] :action ShowPopupMenu<CR>
nnoremap <leader>1 :NERDTreeToggle<CR>


" ------------------------------------------------------------
" Content 
" ------------------------------------------------------------

nnoremap <leader>i :action SaveDocument<CR>
nnoremap <leader>I :action SaveAll<CR>
nnoremap <leader>ff :action ReformatCode<CR>
nnoremap <leader>fi :action OptimizeImports<CR>

nnoremap <leader>fj ddp
nnoremap <leader>fk ddkP

nnoremap K :action QuickJavaDoc<cr>
nnoremap gs :action GotoSuperMethod<cr>
nnoremap gi :action GotoImplementation<cr>
nnoremap gd :action GotoDeclaration<cr>
nnoremap gD :action GotoTypeDeclaration<cr>

nnoremap <leader>[ :action FileStructurePopup<cr>
nnoremap <leader>f, :action GotoNextError<cr>
nnoremap <leader>f. :action GotoPreviousError<cr>
nnoremap <leader>q :action CloseContent<cr>
nnoremap <leader>Q :action CloseAllEditors<cr>
nnoremap <leader>r :action RenameElement<cr>


" ------------------------------------------------------------
" Search
" ------------------------------------------------------------
nnoremap <leader>; :action GotoFile<cr>
noremap <leader>' :action GotoSymbol<cr>
noremap ; :action RecentFiles<cr>



" ------------------------------------------------------------
" Debug / Run
" ------------------------------------------------------------
nnoremap <leader>d' :action ChooseDebugConfiguration<cr>
nnoremap <leader>dd :action Debug<cr>
nnoremap <leader>d; :action ToggleLineBreakpoint<cr>
nnoremap <leader>d[ :action ViewBreakpoints<cr>

" into
nnoremap <leader>di :action StepInto<cr>
" next line
nnoremap <leader>do :action StepOver<cr>
" to next breakpoint
nnoremap <leader>dn :action Resume<cr>


noremap L $
noremap H ^
noremap <Leader>\ :nohlsearch<cr>