""" Common settings -----------------------------------------------------------
""" Common settings -----------------------------------------------------------
set hlsearch
set incsearch
set ignorecase
set smartcase
set showmode
set number
set norelativenumber
set clipboard+=unnamed
set history=100000
set scrolloff=5


""" Plugins  ------------------------------------------------------------------
set argtextobj
let g:argtextobj_pairs="[:],(:),<:>"

set NERDTree
set easymotion
" set vim-paragraph-motion


""" Idea specific settings ----------------------------------------------------
set ideajoin
set ideastatusicon=gray
"set idearefactormode=keep


""" Maps ----------------------------------------------------------------------
" leader
let mapleader = " "
map Q gq


" ------------------------------------------------------------
" Buffer / Windows
" ------------------------------------------------------------
map <leader>wv <Action>(SplitVertically)
map <leader>ws <Action>(SplitHorizontally)

map <leader>wj <C-W>j
map <leader>wh <C-W>h
map <leader>wl <C-W>l
map <leader>wk <C-W>k

map <leader>] <Action>(ShowPopupMenu)
map <leader>1 :NERDTreeToggle


" ------------------------------------------------------------
" Content 
" ------------------------------------------------------------

map <leader>i <Action>(SaveDocument)
map <leader>I <Action>(SaveAll)
map 'f <Action>(OptimizeImports)<Action>(ReformatCode)

map K <Action>(QuickJavaDoc)
map gs <Action>(GotoSuperMethod)
map gi <Action>(GotoImplementation)
map gd <Action>(GotoDeclaration)
map gD <Action>(GotoTypeDeclaration)
map gr <Action>(ShowUsages)

map <leader>[ <Action>(FileStructurePopup)
map <leader>q <Action>(CloseContent)
map <leader>Q <Action>(CloseAllEditors)
map <leader>r <Action>(RenameElement)

map <a-[> <Action>(GotoPreviousError)
map <a-]> <Action>(GotoNextError)


" ------------------------------------------------------------
" Search
" ------------------------------------------------------------
map <leader>; <Action>(GotoFile)
map <leader>' <Action>(GotoSymbol)
map ; <Action>(RecentFiles)



" ------------------------------------------------------------
" Debug / Run
" ------------------------------------------------------------
map <leader>d' <Action>(ChooseDebugConfiguration)
map <leader>dd <Action>(Debug)
map <leader>d; <Action>(ToggleLineBreakpoint)
map <leader>d[ <Action>(ViewBreakpoints)

" into
map <leader>di <Action>(StepInto)
" next line
map <leader>do <Action>(StepOver)
" to next breakpoint
map <leader>dn <Action>(Resume)


map <leader>\ :nohlsearch<CR>
